@font-face {
     font-family:'fabianregular';
     src:url('https://electricporpoise452.github.io/fonts/fabian-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/fabian-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;

}

@font-face {
     font-family:'lcdmono2bold';
     src:url('https://electricporpoise452.github.io/fonts/lcdm2b_-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/lcdm2b_-webfont.woff') format('woff');
     font-weight:normal;
     font-style:normal;

}

@font-face {
     font-family:'pixelsplitterregular';
     src:url('https://electricporpoise452.github.io/fonts/pixelsplitter-bold-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/pixelsplitter-bold-webfont.woff') format('woff');
     font-weight:normal;
     font-style:normal;

}

@font-face {
     font-family:'railroaderregular';
     src:url('https://electricporpoise452.github.io/fonts/railroader-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/railroader-webfont.woff') format('woff');
     font-weight:normal;
     font-style:normal;

}

@font-face {
     font-family:'tipielectric';
     src:url('https://electricporpoise452.github.io/fonts/tipi-electric_0-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/tipi-electric_0-webfont.woff') format('woff');
     font-weight:normal;
     font-style:normal;

}

body{
    overflow: hidden;
}

.goal{
    background-color:rgba(0,0,0,80%);
    width:625px;
    height:150px;
    padding:10px;
    border-radius:25px;
}

progress[value]{
    -webkit-apperance: none;
    appearance: none;
    width: 615px;
    height: 60px;
    background-color: #000000;
    border-radius: 25px;
    padding:8px;
    
}

progress::-webkit-progress-bar {
    background-color: #ffffff;
    border-radius: 25px;
}

progress::-webkit-progress-value {
    background-color: #7300ff;
    border-radius: 23px;
}

.title {
    font-family: tipielectric;
    font-size: 50px;
    color: #00ff73;
    text-align: center;
}

.caption2 {
    font-family: tipielectric;
    font-size: 25px;
    color: #ff7300;
    float: right;
}

.caption {
    font-family: tipielectric;
    font-size: 25px;
    color: #ff7300;
    float:left;
}
