/* CSS FOR ALL PAGES */
@font-face {
    font-family: 'fabianregular';
    src: url('https://electricporpoise452.github.io/fonts/fabian-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/fabian-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lcdmono2bold';
    src: url('https://electricporpoise452.github.io/fonts/lcdm2b_-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/lcdm2b_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pixelsplitterregular';
    src: url('https://electricporpoise452.github.io/fonts/pixelsplitter-bold-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/pixelsplitter-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'railroaderregular';
    src: url('https://electricporpoise452.github.io/fonts/railroader-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/railroader-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tipielectric';
    src: url('https://electricporpoise452.github.io/fonts/tipi-electric_0-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/tipi-electric_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

a:-webkit-any-link {
    color: #ff7300;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
     color: #00ff73;
}

/* CSS FOR INDEX PAGE */

* {
  box-sizing: border-box;
}

#logo{
     position: relative;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.row::after {
     content: "";
     clear: both;
     display: table;
}


[class*="col-"] {
     float:left;
     padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html{ 
     font-family: tipielectric;
     color: #ffffff;
     text-align:center;
}

.row{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #000000;
     border-radius:25px;
     width:px;
}

.menu ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
}

.menu li{
     padding: 10px;
     margin-bottom: 7px;
     background-color: #1c1c1c;
     border-radius: 25px;
}
