/* CSS FOR ALL PAGES */
@font-face {
    font-family: 'fabianregular';
    src: url('https://electricporpoise452.github.io/fonts/fabian-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/fabian-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lcdmono2bold';
    src: url('https://electricporpoise452.github.io/fonts/lcdm2b_-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/lcdm2b_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pixelsplitterregular';
    src: url('https://electricporpoise452.github.io/fonts/pixelsplitter-bold-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/pixelsplitter-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'railroaderregular';
    src: url('https://electricporpoise452.github.io/fonts/railroader-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/railroader-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tipielectric';
    src: url('https://electricporpoise452.github.io/fonts/tipi-electric_0-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/tipi-electric_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#banner{
height:65px;
}

#header-container {
  font-family: tipielectric;
  font-size: 25px;
  color: #ffffff;
  margin-left:330px;
}

.link_spacer{
    padding:5px;
}

button {
    font-size:25px;
    font-family: tipielectric ;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-align: center;
    cursor: default;
    background-color: #1c1c1c;
    padding-block: 10px;
    border-radius:25px;   
}

a:-webkit-any-link {
    color: #ff7300;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    color: #00ff73;
}

::-webkit-scrollbar {
    width:0px;
}

#page-body{
    margin-top:30px;
    overflow:auto;
    height:100%;
}

#timer{
   color:#ffffff;
    font-family: lcdmono2bold;
    font-size:50px;
    text-align: center; 
}

/* CSS FOR HOME PAGE */

#title{
    color:#ffffff;
    font-family: fabianregular;
    font-size:50px;
    text-align: center;
    letter-spacing:2px;
    margin-top:-3325px
}

#paragraph{
    color:#ffffff;
    font-family: fabianregular;
    font-size:30px;
    text-align: center;
    letter-spacing:2px;
}

/* CSS FOR ABOUT PAGE */



/* CSS FOR CONTACT PAGE */




