/* CSS FOR ALL PAGES */

@font-face {
     font-family:'fabianregular';
     src:url('https://electricporpoise452.github.io/fonts/fabian-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/fabian-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;

}

@font-face {
     font-family:'lcdmono2bold';
     src:url('https://electricporpoise452.github.io/fonts/lcdm2b_-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/lcdm2b_-webfont.woff') format('woff');
     font-weight:normal;
     font-style:normal;

}

@font-face {
     font-family:'pixelsplitterregular';
     src:url('https://electricporpoise452.github.io/fonts/pixelsplitter-bold-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/pixelsplitter-bold-webfont.woff') format('woff');
     font-weight:normal;
     font-style:normal;

}

@font-face {
     font-family:'railroaderregular';
     src:url('https://electricporpoise452.github.io/fonts/railroader-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/railroader-webfont.woff') format('woff');
     font-weight:normal;
     font-style:normal;

}

@font-face {
     font-family:'tipielectric';
     src:url('https://electricporpoise452.github.io/fonts/tipi-electric_0-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/tipi-electric_0-webfont.woff') format('woff');
     font-weight:normal;
     font-style:normal;

}

a:-webkit-any-link {
     color: #ff7300;
     cursor:pointer;
     text-decoration:none;
}

a:hover{
     color: #00ff73;
}

* {
     box-sizing:border-box;
}

body {
     margin:0px;
     backdrop-filter:blur(3px);
     background-image:url('vidbackground.png');
     background-repeat:no-repeat;
     background-position:center;
     background-size:3840px 2140px;
}

html{ 
     font-family:tipielectric;
     color: #ffffff;
}

.column{
     position:absolute;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
}

.title{
     font-family:fabianregular;
     font-size:100px;
     text-align:center;
     background-color:rgba(0,0,0,80%);
     padding:30px;
     border-radius:50px;

}
.copyright{
     font-size:50px;
     text-align:center;
     position:absolute;
     top:250%;
     left:50%;
     transform: translate(-50%,-50%);
     width:1100;
     background-color:rgba(0,0,0,80%);
     padding:30px;
     border-radius:50px;
}
