/* CSS FOR ALL PAGES */

@font-face {
     font-family:'fabianregular';
     src:url('https://electricporpoise452.github.io/fonts/fabian-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/fabian-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;

}

@font-face {
     font-family:'lcdmono2bold';
     src:url('https://electricporpoise452.github.io/fonts/lcdm2b_-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/lcdm2b_-webfont.woff') format('woff');
     font-weight:normal;
     font-style:normal;

}

@font-face {
     font-family:'pixelsplitterregular';
     src:url('https://electricporpoise452.github.io/fonts/pixelsplitter-bold-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/pixelsplitter-bold-webfont.woff') format('woff');
     font-weight:normal;
     font-style:normal;

}

@font-face {
     font-family:'railroaderregular';
     src:url('https://electricporpoise452.github.io/fonts/railroader-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/railroader-webfont.woff') format('woff');
     font-weight:normal;
     font-style:normal;

}

@font-face {
     font-family:'tipielectric';
     src:url('https://electricporpoise452.github.io/fonts/tipi-electric_0-webfont.woff2') format('woff2'),
         url('https://electricporpoise452.github.io/fonts/tipi-electric_0-webfont.woff') format('woff');
     font-weight:normal;
     font-style:normal;

}

a:-webkit-any-link {
     color: #ff7300;
     cursor:pointer;
     text-decoration:none;
}

a:hover{
     color: #00ff73;
}

/* CSS FOR INDEX PAGE */

* {
     box-sizing:border-box;
}

body {
     background-image:url('vidbackground.png');
     background-repeat:no-repeat;
     background-position:center;
     background-size:3840px 2140px;
}

html{ 
     font-family:tipielectric;
     color: #ffffff;
}

.row2{
     position: absolute;
     top:50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.column {
     width: 50%;
     padding:5px;
}

iframe{
     height:352px;
     width:625px;
}

table {
     background-color:rgba(0,0,0,80%);
     width:625px;
     border-radius:25px;
     padding:10px;
     border-spacing:10px;
}

td{
     background-color:#1c1c1c;
     border-radius:25px;
     font-size:30px;
     padding:10px;
     text-align:center;
}

.header{
     width:625px;
     text-align: center;
     font-size: 50px;
     font-family:fabianregular;
     background-color:rgba(0,0,0,80%);
     border-radius:25px;
     padding:10px;
}

.footer{
     width:625px;
     text-align: center;
     font-size: 30px;
     background-color:rgba(0,0,0,80%);
     border-radius:25px;
     padding:10px;
}

.row{
     position: absolute;
     top:50%;
     left: 17%;
     transform: translate(-50%, -50%);
     display: show;
}

#demo{
     width:625px;
     text-align: center;
     font-size: 50px;
     font-family:lcdmono2bold;
     color: #ff0000;
     background-color:rgba(0,0,0,80%);
     border-radius:25px;
     padding:10px;
}


#image{
     height:auto;
     width:625px;
     padding: 10px
}

@media only screen and (max-width: 1000px){

     table{
          width:375px;
     }

     Iframe{
          height:211;
          width:375;
     }

     th{
          font-size:15px;
     }
     
     td{
          font-size:15px;
     }

     .header{
          width:375px;
          font-size:25px;
          padding:5px;
     }
     
     .footer{
          width:375px;
          font-size:15px;
          padding:5px;
     }

     .row{
          display: none;
     }
     
}

@media only screen and (max-height: 600px){

     table{
          width:375px;
     }

     Iframe{
          height:211;
          width:375;
     }

     th{
          font-size:15px;
     }
     
     td{
          font-size:15px;
     }

     .header{
          width:375px;
          font-size:25px;
          padding:5px;
     }
     
     .footer{
          width:375px;
          font-size:15px;
          padding:5px;
     }

     .row{
          display: none;
     }
     
}


@media only screen and (max-width: 1890px){
     .row{
          display: none;
     }

}
